@import "../styles/variables.scss";

.article {
  max-width: $narrow-maxwidth;
  margin: 0 auto;
  padding: 3em 0 5em;
  width: 100%;
  color: #2c2c2c;

  @media (max-width: "1100px") {
    width: 90%;
  }

  .title {
    text-align: center;
    font-weight: 400;
    font-size: 1.6em;
  }

  p {
    line-height: 2;
  }

  p,
  ul,
  hr,
  ol,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  blockquote {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }

  a {
    color: $alink-standard;
  }

  .article-info {
    text-align: center;
    font-size: 0.8em;
    padding: 1em 0;

    .publish-date,
    .category {
      color: $alink-hover;
      display: inline-block;
      padding-bottom: 4px;
      border-bottom: 1px solid $alink-hover;
      margin: 0 1em 0.5em;
      font-weight: 500;
    }
  }
}

// blockquote style
blockquote {
  box-shadow: #c5d2d8 3px 0px 0px 0px inset;
  padding-left: 23px;
  font-style: italic;
  margin-top: 2em;
  margin-bottom: 2em;
}

// code style
code {
  font-size: 0.875em;
  font-family: "Monaco", "Menlo", "Ubuntu Mono", "Consolas", "source-code-pro",
    monospace;
  border-radius: 3px;
  background: rgba(250, 166, 166, 0.3);
}
