@import "../styles/variables.scss";

.blog-page-container {
  max-width: $wide-maxwidth;
  margin: 0 auto;
  width: 100%;

  @media (max-width: "1100px") {
    width: 80%;
    font-size: 0.9rem;
  }

  @media (max-width: $mobileLandscape) {
    width: 90%;
    font-size: 0.8rem;
  }

  // Customize blog categories fileter style
  aside.categories {
    justify-content: center;
  }

  .posts {
    list-style-type: none;
    margin: 0;
    padding: 0;

    .post {
      margin: 3rem 0;

      &.normal-post {
        display: flex;
        justify-content: space-between;

        .image-container {
          width: 48%;
        }

        .content-container {
          background-color: $base-color;
        }

        @media (max-width: "850px") {
          flex-direction: column;

          .image-container {
            width: 100%;
          }
        }
      }

      &.hero-post {
        position: relative;

        .content-container {
          position: absolute;
          bottom: 0;
          right: 0;
          padding: 85px 50px;
        }
      }

      // shared style
      .image-container {
        position: relative;
        transition: 0.2s ease-in-out;

        &:hover,
        &:focus {
          opacity: 0.8;
        }

        .info {
          position: absolute;
          left: 24px;
          top: 18px;
          font-size: 10px;
          font-weight: 700;
          z-index: 9;
          margin: 0;
          color: rgba(255, 255, 255, 0.6);
        }

        .category {
          text-transform: uppercase;
          margin-right: 10px;
        }

        .publish-date {
          margin-left: 10px;
        }
      }

      .content-container {
        width: 52%;
        padding-left: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: $base-color;
        box-sizing: border-box;

        @media (max-width: "850px") {
          width: 100%;
          margin: 3em 0;
          padding: 0 0.5em;
        }

        .title {
          font-size: 2em;
          margin: 0;
          margin-bottom: 10px;
        }

        .excerpt {
          color: #545454;

          @media (max-width: "850px") {
            margin: 2em 0;
          }
        }

        .continue-reading {
          font-weight: 700;

          &:before {
            content: "";
            width: 40px;
            height: 1px;
            display: inline-block;
            vertical-align: middle;
            margin-right: 10px;
            background-color: $alink;
          }

          &:hover::before,
          &:focus::before {
            background-color: $alink-hover;
          }
        }
      }
    }
  }
}
