@import "../styles/variables";

.work-inner-container {
  max-width: $wide-maxwidth;
  margin: 0 auto;
  padding: 3em 0 5em;
  width: 100%;

  aside.categories {
    margin: 2em;
  }

  main.works {
    flex-grow: 1;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 1em;

    .work {
      width: calc(50% - 2em);
      padding: 3em;
      margin: 1em;
      border: 1px solid rgb(194, 192, 192);
      box-sizing: border-box;

      /* let continue reading always in the very bottom */
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      @media (max-width: $laptopPortrait) {
        width: 100%;
      }
    }

    .work-title {
      font-family: "Lora";
      font-size: 1.2rem;
      margin: 0;
      color: #ad6874;
    }

    .work-info {
      font-size: 0.875rem;
      font-weight: lighter;
    }

    .work-body {
      font-size: 0.9rem;

      flex: 1 1 auto;
    }

    .work-read-more {
      font-size: 0.875rem;
      font-weight: bold;
    }
  }

  @media (max-width: $laptopLandscape) {
    padding: 1em 0 4em;
    aside.categories {
      margin: 1em;
    }
    main.works {
      margin: 0.5em;
      .work {
        margin: 0.5em;
      }
    }
  }
}
