@import "../styles/variables.scss";

aside.categories {
  display: flex;
  justify-content: flex-start;
  margin: 2em 0;

  .filter-btn {
    cursor: pointer;
    margin-right: 1em;
    color: $alink;

    &:hover,
    &.current {
      color: $alink-hover;
    }
  }
}
