@import "../styles/variables.scss";

.article-nav-wrapper {
  margin: 5rem 0;

  @media (max-width: $laptopPortrait) {
    font-size: 0.6rem;
  }

  .nav-prev,
  .nav-next {
    color: $alink;
    transition: 0.3s ease-in-out;

    &:hover,
    &:focus {
      color: $alink-hover;
    }
  }

  .nav-prev-title,
  .nav-next-title {
    color: rgba(84, 84, 84, 0.4);
  }
  .nav-prev {
    float: left;
  }
  .nav-next {
    text-align: right;
    float: right;
  }

  span {
    display: inline-block;
    margin-top: 0.5em;
    font-size: 1.3em;
    font-weight: 700;
  }
}
